<configuration>
    <appender name="LOGS" class="ch.qos.logback.core.FileAppender">
<!--    <appender name="LOGS" class="ch.qos.logback.core.ConsoleAppender">-->
        <file>logs/log_twx.log</file>
        <append>false</append>
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        </encoder>
    </appender>

<!--    Set both if the levels below to TRACE to see the details of your communication with the server.-->
    <logger name="com.thingworx" level="WARN"/> <!-- This will only print error logs bringing down the verbosity -->
<!--    <logger name="*" level="WARN"/> &lt;!&ndash; This will only print error logs bringing down the verbosity &ndash;&gt;-->
<!--    <logger name="LegoBrick" level="DEBUG"/> &lt;!&ndash; This will only print error logs bringing down the verbosity &ndash;&gt;-->
<!--    <logger name="RobotArmApplication" level="DEBUG"/> &lt;!&ndash; This will only print error logs bringing down the verbosity &ndash;&gt;-->

    <root level="DEBUG"> <!-- setting level to OFF will completely disable logging -->
        <appender-ref ref="LOGS"/>
    </root>
</configuration>
